# Misc build files
*.log
_build

# Mercury build files
Mercury
*.err
*.mh

# Executables
2023/day2/day2

# Temp
2022

# Nix
result

# Don't commit the input files
input.txt
test.txt
test-input.txt
example.txt
